<div class="row">
    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search for checks...">
        </div>
    </div>
	<div class="col-sm-6">
	    <div class="text-right">
	        <button class="btn btn-default" ng-click="vm.addCheck()">+ Add Check</button>
	        <a target="_self" href="example.com/uploads/asd4a4d5a.pdf" download="foo.pdf"></a>
	        <button class="btn btn-default" ng-click="vm.printSelectedChecks()"><i class="fa fa-print"></i> Print Check(s) <span class="badge">1</span></button>
	    </div>
	</div>

</div>
</br>
<table class="table table-striped table-condensed" width="647">
    <thead>
        <tr>
            <th>Select</th>
            <th>Check #</th>
            <th>Account #</th>
            <th>Routing #</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Level</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <!-- name, address, routing number and account number -->
        <tr ng-repeat="check in vm.checks track by $index">
            <td><input type="checkbox"></td>
            <td><span ng-model="check.checkNum">{{ check.checkNum || 'empty' }}</span></td>
            <td><span ng-model="check.accountNum">{{ check.accountNum || 'empty' }}</span></td>
            <td><span ng-model="check.routingNumber">{{ check.routingNum || 'empty' }}</span></td>
            <td><span ng-model="check.amount">{{ check.amount || 'empty' }}</span></td>
            <td><span ng-model="check.checkDate">{{ check.checkDate | date:'MM/dd/yyyy @ h:mma' || 'empty' }}</span></td>
            <td><span ng-model="check.offenseLevel">{{ check.offenseLevel || 'empty' }}</span></td>
            <td><button class="btn btn-xs btn-primary" ng-click="vm.openCheckDetailsModal(check)">Details</button></td>
        </tr>
    </tbody>
</table>
</br>
</br>
